{% extends "quiz/base.html" %}
{% block content %}
	<br>
	<br>
	<br>
	<br>
	{% if user.is_authenticated %}
	<h1>QUIZ MANIA</h1>
	<table >
		<tr>
			<th style = "padding-right : 100px" >Quiz</th>
			<th>Score</th>
		</tr>
	{%  for Quiz in Quizes %}
		<tr>
			<td><a href="{% url 'quiz:QuizPage' pk=Quiz.qno %}" >Quiz {{Quiz.qno}}</a></td>
			{% for temp in quizscore %}
				{% if temp.qno.qno == Quiz.qno %}
					<td>{{ temp.score }}</td>
				{% endif %}
			{% endfor %}
		</tr>
	{% endfor %}
	</table>
	<br>
	 <p>User Name = {{user.username}} </p> 
	 <p>Total SCORE = {{score}} </p>
	{% else %}
	 <p>You are not logged in.<a href="{% url 'users:loginpage'%}">Log In first</a></p>
	{% endif %}
{% endblock content %}