<!DOCTYPE html>
<html>
<head>
	<title>QUIZ</title>
</head>
<body>
	<h1>QUIZ</h1>
	<form action="{% url 'quiz:QuizPage' pk %}" method="post">
	{% csrf_token %}
		<ol>
		{% for Question in Questions %}
			<li>{{ Question.qtext }}<br></li>
			<input type="radio" name = {{Question.qid}} value = "{{Question.opt1}}"> {{ Question.opt1 }}<br>
			<input type="radio" name = {{Question.qid}} value = "{{Question.opt2}}"> {{ Question.opt2 }}<br>
			<input type="radio" name = {{Question.qid}} value = "{{Question.opt3}}"> {{ Question.opt3 }}<br>
			<input type="radio" name = {{Question.qid}} value = "{{Question.opt4}}"> {{ Question.opt4 }}<br><hr>
		{% endfor %}
		</ol>
		<input type="submit" name="submit" value="submit">
	</form>
</body>
</html>